<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewData["Title"] == null ? "" : $"{ViewData["Title"]} - ") Back Office</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="dark-mode layout-fixed layout-navbar-fixed sidebar-mini text-sm">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Header Rendering -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            
            @await Component.InvokeAsync("VcHeader") 

        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <!-- Logo -->
            <a href="index3.html" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Nome do usuário</a>
                    </div>
                </div>

                <!-- Menu -->
                <nav class="mt-2">
                    @await Component.InvokeAsync("VcMenu")
                </nav>

            </div>
        </aside>

        <!-- System rendering -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>

        <!-- Footer Rendering -->
        <footer class="main-footer">
            @await Component.InvokeAsync("VcFooter")
        </footer>
    </div>
    

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>

    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <script src="~/dist/js/demo.js"></script>
    <script src="~/dist/js/pages/dashboard2.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
